#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.gamecontainer{
 /*  background: url(assets/image.png) no-repeat; */
  width: 1200px;
  height: 600px;
  background-color: green;
}
body {
  overflow-wrap: break-word;
}

.logo {
  height: 6em;
  padding: 1.5em;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.preact:hover {
  filter: drop-shadow(0 0 2em #673ab8aa);
}

.card {
  width: 1000px;
}

.read-the-docs {
  color: #888;
}

.box{
  
  background-color: red;
  

}
.box2{
 
  background-color: rgb(72, 0, 255);
  

}
.box img {
  opacity: 0.9;
}
.black {
  background-color: black !important;
 margin-left: 400px;

}
.down {
  
 margin-top: 200px;

}
